{{> includes/header}}

<h1>Products</h1>

<p><a href="/products">Go back</a></p>

<table>
    <tr>
        <th>ID</th>
        <th>Total price</th>
        <th>Created</th>
        <th>Customer</th>
    </tr>
    {{#orders}}
        <tr>
            <td>{{id}}</td>
            <td>{{totalPrice}} JPY</td>
            <td>{{created}}</td>
            <td>{{customer.email}}</td>
        </tr>
    {{/orders}}
</table>

{{> includes/footer}}