{{> includes/header}}

<p><a href="/">Go home</a></p>
<p><a href="/person/show?showDeleted=true">Show all people</a></p>
<p><a href="/person/show?showDeleted=false">Show only valid</a></p>


<h1>All people</h1>
{{#people}}
    <p>
        {{email}}, {{age}}, {{deleted}}, {{registrationTime}}<br>
        <a href="/person/update/{{id}}">Update</a>
        <a href="/person/delete/{{id}}">Delete</a>
        <a href="/person/permanent-delete/{{id}}">Permanent Delete</a>
    </p>
{{/people}}

<p>{{message}}</p>

{{> includes/footer}}