<p><a href="/">Index page</a></p>
<p><a href="/home">Home page</a></p>
<p><a href="/admin">Admin page</a></p>
<br>
<p><a href="/login">Login</a></p>
<p><a href="/logout">Logout</a></p>
<br>
<p>Errors</p>
<p><a href="/something-not-existing">Simulate 404</a></p>
<p><a href="/405-test">Simulate 405</a></p>
<p><a href="/500-test">Simulate 500</a></p>