{{> header}}

<p><a href="/">Go home</a></p>

<h1>Insert a person</h1>

<form action="/person/insert" method="post">
    <div>
        <label>name: <br><input type="text" name="name"/> </label>
    </div>
    <div>
        <label>age: <br><input type="number" name="age"/> </label>
    </div>
    <div>
        <label>favourite language: <br><input type="text" name="language"/> </label>
    </div>
    <div style="margin-top: 8px;">
        <input type="submit" value="Save"/>
    </div>
</form>

<p style="color:red">{{error}}</p>

{{> footer}}
