{{> header}}

<p><a href="/">Go home</a></p>

<h1>Update person</h1>

<form action="/person/update" method="post">
    <div>
        <label>name: <br><input type="text" name="name" value="{{person.name}}" disabled/> </label>
    </div>
    <div>
        <label>age: <br><input type="number" name="age" value="{{person.age}}"/> </label>
    </div>
    <div>
        <label>favourite language: <br><input type="text" name="language" value="{{person.favouriteLanguage}}"/> </label>
    </div>
    <input type="hidden" name="id" value="{{person.id}}"/>
    <div style="margin-top: 8px;">
        <input type="submit" value="Save"/>
    </div>
</form>

<p style="color:red">{{error}}</p>

{{> footer}}
