<h1>Home page</h1>

<p>{{{message}}}</p>

<p><a href="/test">Test html page</a></p>
<p><a href="/params?id=42">Query param test</a></p>
<p><a href="/params/42">Request param test</a></p>
<br>
<p><a href="/users/show">Show all users</a></p>
<p><a href="/users/all">Show all users JSON</a></p>
<p><a href="/users/insert">Insert user</a></p>
